<%= render "shared/nav_bar", name: 'Transactions', display: '' %>
<section>
  <h2>Total: $500</h2>
  <p>Transaction 2</p>
  <p>Transaction 1</p>
</section>
<div class="green-color d-flex justify-content-center">
  <%
=begin%>
 <%= link_to "Add Transaction", new_cost_path ,class:"button border text-white py-2 px-5 m-2" %>  
<%
=end%>
</div>
